body{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic65.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
section{
margin-left:200px;
border-left:2px lightblue;
padding:10px;
}
details{
background-color: #4196F9;
margin: 5px;
padding: 10px;
color:black;
border-radius:50px;
}
